<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>LongBloom</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <h1>Blogs</h1>

    <%- include('./partials/scripts') %>
  </body>
</html>
